# -----------------------
# Virtual environments
# -----------------------
venv/

# -----------------------
# Python cache & logs
# -----------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.tmp

# -----------------------
# Jupyter Notebook / Lab
# -----------------------
.ipynb_checkpoints/
*.ipynb_checkpoints

# -----------------------
# VS Code
# -----------------------
.vscode/

# -----------------------
# Linux system files
# -----------------------
*~
.DS_Store
*.swp

# -----------------------
# Windows system files (au cas où)
# -----------------------
Thumbs.db
Desktop.ini


