# Fichiers temporaires Windows
Thumbs.db
Desktop.ini

# Fichiers de log
*.log
*.tmp

# Dossiers systèmes ou documents personnels
Documents/
AppData/

# Fichiers VS Code
.vscode/

# Python
__pycache__/
*.pyc